.nav {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    float: right;
    margin-top: 1.5em;
    margin-right: 3em;
    margin-left: 5em;
}
body {
    background: linear-gradient(90deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%);
}
.welcome {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    padding-top: 4em;
    padding-left: 0.5em;
}
.looking {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    padding: 3em;
    padding-right: 1em;
}
.sale {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 3em;
}
#domains {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 2em;
}
#smv {
    padding-left: 10em;
    padding-top: 10em;
}
.smvGoDaddy {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.smvInfo {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#smv2 {
    padding-left: 80em;
    top: 20px;
    position: relative;
    top: -175px;
}
.smvEstibot {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: -20em;
}
.smvEstiInfo {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo {
    float: left;
    margin-top: 1.5em;
    padding-left: 3em;
}
.Contact{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 16em;
    padding-top: 8em;
}